<ActionBar title="Details" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="column" class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="item.id + '. '"></Label>
        <Label class="h2" [text]="item.name"></Label>
    </FlexboxLayout>
    <Label class="h4" [text]="item.role"></Label>
    <InputMask class="input-border" 
    	[text]="testText" 
    	[mask]="mask"
    	(textChange)="onTextChange($event)"
  		(focus)="console.log('blur')"
    	(extractedValueChange)="onExtractedValueChange($event)"
    ></InputMask>
    <Label [text]="'value: ' + extractedValue"></Label>
    <Button (tap)="testText='123'" text="tap me"></Button>
    <Button (tap)="mask='[A00]'" text="mask change"></Button>
</FlexboxLayout>
