<StackLayout>
  <StackLayout>
    <InputMask
      [mask]="mask"
      hint="0000 0000 0000 0000"
      (textChange)="onTextChange($event)"
      (extractedValueChange)="onExtractedValueChange($event)"
      (completedChange)="onCompleteChange($event)">
    </InputMask>
    <Label [text]="'Text: ' + text"></Label>
    <Label [text]="'Extracted: ' + extractedValue"></Label>
    <Label [text]="'Complete: ' + complete"></Label>
  </StackLayout>
  <StackLayout [formGroup]="form">
    <InputMask formControlName="phone" mask="([000]) [000]-[0000]"></InputMask>
  </StackLayout>
</StackLayout>
